@use "src/assets/scss/base.scss";

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.pad{
  padding: $padding-unit;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.space-vertical{
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
}
.space-horizontal{
  margin-left: $spacing-unit  * 2;
  margin-right:  $spacing-unit * 2;
}
.space-lines {
  line-height: 2;
}
.full-screen {
  min-height: 100vh;
}
.half-screen {
  min-height: 50vh;
}

a {
  color: $green;
  text-decoration: none;
  &:hover  {
    color: darken($green, 10%);
  }
  &:not(:hover){
    color: $green;
  }
  &:visited {
    color: darken($green, 10%);
  }
}

ul {
  list-style: none;
  li {
    // margin: $padding-unit 0;
    > p {
      display: inline-block;
      margin: 0;
      padding:  0;
    }
  }
  li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    position: absolute;
  }
  li:nth-child(3n)::before {
    color: $red;
  }
  li:nth-child(3n+1)::before {
    color: $green;
  }
  li:nth-child(3n+2)::before {
    color: inital;
  }
}

h1 {
  @include media-query($on-laptop){
    font-size: 3em;
  }
  @include media-query($on-palm){
    font-size: 2.5em;
  }
}

// Richtext formatting
@each $name, $code in $colors {
  .#{ $name }-text-color{
    color: $code;
  }
  .#{ $name }-circle-richtext{
    border: $rounding $code solid;
    border-radius: 50%;
    padding: $padding-unit * 0.5 $padding-unit;
    // margin: $padding-unit / -2 -1 * $padding-unit;
    // z-index: 0;
  }
}
